body {
    margin: 0;
}

.menu {
    margin-top: 0;
    width: 1349px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #292d33; */
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ea6309;
}

.maindiv {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 60px auto 0;
    color: #ea6309;
}

.mainp {
    font-size: 1.25rem;
    margin: 9px auto 0;
}

.p {
    text-align: left;
    padding: 0 260px 0 260px;
}

.skill {
    display: inline-flex;
    height: 500px;
}